<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MedTask - Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
.logo-medtask {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<body>
    <div class="container">
        <h1>Bienvenido a MedTask</h1>
        <img src="/img/logo.png" alt="Logo MedTask" class="logo-medtask">
        <a href="/login" class="btn">Iniciar Sesión</a>
    </div>
</body>
</html>
